<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Covid-19</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
.carousel-inner img {
	width: 100%; /* Set width to 100% */
	min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media ( max-width : 600px) {
	.carousel-caption {
		display: none;
	}
}

table {
	width: 100%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 15px;
	text-align: left;
}

tr:nth-child(even) {
	background-color: #eee;
}

tr:nth-child(odd) {
	background-color: #fff;
}

th {
	background-color: olive;
	color: white;
}
</style>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/dashboard">Dashboard</a></li>
					<li><a href="/login">Login</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout"><span
							class="glyphicon glyphicon-log-in"></span> Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container text-center">
		<h3>Covid 19 Latest Data</h3>
		<br>
		<div class="row">
			<div class="col-sm-3">
				<p style="font-weight: bold; color: black; font-size: xx-large;"
					th:text="${covidData.totalCase}" />
				<p style="font-weight: normal; color: black;">Total Case</p>
			</div>

			<div class="col-sm-3">
				<p style="font-weight: bold; color: blue; font-size: xx-large;"
					th:text="${covidData.activeCase}" />
				<p style="font-weight: normal; color: blue;">Active Case</p>
			</div>

			<div class="col-sm-3">
				<p style="font-weight: bold; color: green; font-size: xx-large;"
					th:text="${covidData.recoveredCase}" />
				<p style="font-weight: normal; color: green;">Recovered Case</p>
			</div>

			<div class="col-sm-3">
				<p style="font-weight: bold; color: red; font-size: xx-large;"
					th:text="${covidData.deathCase}" />
				<p style="font-weight: normal; color: red;">Death Case</p>
			</div>
		</div>
	</div>
	<br>

	<div class="container text-center">
		<table>
			<tr>
				<th>State</th>
				<th>Total Case</th>
				<th>Active Case</th>
				<th>Recovered Case</th>
				<th>Death Case</th>
			</tr>

			<tr th:each="caseDetail : ${covidData.caseDetails}">
				<td th:text="${caseDetail.state}" />
				<td th:text="${caseDetail.totalCase}" />
				<td th:text="${caseDetail.activeCase}" />
				<td th:text="${caseDetail.recoveredCase}" />
				<td th:text="${caseDetail.deathCase}" />
			</tr>
		</table>
	</div>

</body>
</html>
